<div class="footer-content">
        <div class="footer-brand-slide">
            <ul class="list-brand-film">
                <li><a id="brand-1" href="#"></a></li>
                <li><a id="brand-2" href="#"></a></li>
                <li><a id="brand-3" href="#"></a></li>
                <li><a id="brand-4" href="#"></a></li>
                <li><a id="brand-5" href="#"></a></li>
                <li><a id="brand-6" href="#"></a></li>
                <li><a id="brand-7" href="#"></a></li>
                <li><a id="brand-8" href="#"></a></li>
            </ul>
        </div>
        <div class="footer-main">
            <div class="footer-main-content">
                <div class="cgv-vietnam">
                    <h3>CGV Việt Nam</h3>
                    <ul>
                        <li><a href="#">Giới Thiệu</a></li>
                        <li><a href="#">Tiện ích Online</a></li>
                        <li><a href="#">Thẻ Quà Tặng</a></li>
                        <li><a href="#">Tuyển Dụng</a></li>
                        <li><a href="#">Liên Hệ Quảng Cáo CGV</a></li>
                    </ul>
                </div>
                <div class="cgv-policy">
                    <h3>Điều khoản sử dụng</h3>
                    <ul>
                        <li><a href="#"><p>Điều khoản chung</p></a></li>                        
                        <li><a href="#">Điều khoản giao dịch</a></li>                        
                        <li><a href="#">Chính sách thanh toán</a></li>                        
                        <li><a href="#">Chính sách bảo mật</a></li>                        
                        <li><a href="#">Câu hỏi thường gặp</a></li>                        
                    </ul>
                </div>
                <div class="cgv-follow-us">
                    <h3>Kết nối với chúng tôi</h3>
                    <div class="icon-follow">
                        <ul>
                            <li><a class="zoom-icon" id="fb" href="#"></a></li>
                            <li><a class="zoom-icon" id="youtube" href="#" ></a></li>
                            <!--<li><a class="zoom-icon" href="#"><img src="https://png.pngtree.com/element_our/png/20181011/facebook-social-media-icon-design-template-vector-png_126986.jpg", style="width: 53px" ></a></li>-->
                            <li><a class="zoom-icon" id="insta" href="#"></a></li>
                            <li><a class="zoom-icon" id="zalo" href="#"></a></li>
                        </ul>
                    </div>
                    <a href="#"><img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png", style="width: 190px" alt=""></a>
                </div>
                <div class="customer-cgv">
                    <h3>Chăm sóc khách hàng</h3>
                    <p>Hotline: 1900 6017</br>
                    Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết )</p>
                    <p>Email hỗ trợ : <a href="#">hoidap@cgv.vn</a></p>
                    </div>
            </div>
        </div>

    </div>
