<div class="footer-content">
        <div class="footer-brand-slide">
            <ul class="list-brand-film">
                <li><a id="brand-1" href="#"></a></li>
                <li><a id="brand-2" href="#"></a></li>
                <li><a id="brand-3" href="#"></a></li>
                <li><a id="brand-4" href="#"></a></li>
                <li><a id="brand-5" href="#"></a></li>
                <li><a id="brand-6" href="#"></a></li>
                <li><a id="brand-7" href="#"></a></li>
                <li><a id="brand-8" href="#"></a></li>
                <li><a id="brand-9" href="#"></a></li>
                <li><a id="brand-10" href="#"></a></li>
                <li><a id="brand-11" href="#"></a></li>
            </ul>
        </div>
        <div class="footer-main">
            <div class="footer-main-content">
                <div >
                    <h3 style="padding-right: 100px ">Beta Cineplex</h3>
                    <ul>
                        <li><a href="#">Giới Thiệu</a></li>
                        <li><a href="#">Tiện ích Online</a></li>
                        <li><a href="#">Thẻ Quà Tặng</a></li>
                        <li><a href="#">Tuyển Dụng</a></li>
                        <li><a href="#">Liên Hệ Quảng Cáo Beta</a></li>
                    </ul>
                </div>
                <div >
                    <h3 style="padding-right: 100px ">Điều khoản sử dụng</h3>
                    <ul>
                        <li><a href="#">Điều khoản chung</a></li>                        
                        <li><a href="#">Điều khoản giao dịch</a></li>                        
                        <li><a href="#">Chính sách thanh toán</a></li>                        
                        <li><a href="#">Chính sách bảo mật</a></li>                        
                        <li><a href="#">Câu hỏi thường gặp</a></li>                        
                    </ul>
                </div>
                <div>
                    <h3 style="padding-right: 100px ">Kết nối với chúng tôi</h3>
                    <div class="icon-follow">
                        <ul>
                            <li><a class="zoom-icon" id="fb" href="#"></a></li>
                            <li><a class="zoom-icon" id="youtube" href="#" ></a></li>
                            <li><a class="zoom-icon" id="insta" href="#"></a></li>
                            <li><a class="zoom-icon" id="zalo" href="#"></a></li>
                        </ul>
                    </div>
                    <a href="#"><img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png", style="width: 120px"></a>
                </div>
                <div >
                    <h3>Chăm sóc khách hàng</h3>
                    <ul>
                    <li>Hotline: 0934 632 682</li>
                    <li>Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết )</li>
                    <li>Email hỗ trợ : <a href="#">cskh@betacorp.vn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <div style="border-top: 2px solid black;"><br>
        <div class="footer-main-content">
        <ul>
            <img src="https://betacinemas.vn/Assets/Common/logo/logo.png", style="width: 150px; padding:20px">
        </ul>
        <ul>
        <strong>C&Ocirc;NG TY TNHH Beta Cineplex</strong>
            <li>Giấy CNĐKDN: 0303675393, đăng k&yacute; lần đầu ng&agrave;y 31/7/2008, 
            đăng k&yacute; thay đổi lần thứ 5 ng&agrave;y 14/10/2015, cấp bởi Sở KHĐT th&agrave;nh phố Hồ Ch&iacute; Minh.</li>
            <li>Địa Chỉ:&nbsp;Tầng 2, Rivera Park Saigon - Số 7/28 Th&agrave;nh Th&aacute;i, P.14, Q.10, TPHCM.</li>
            <li>Hotline: 1900 6017</li>
            <li>COPYRIGHT 2017 CJ Beta. All RIGHTS RESERVED .</li>
        </ul>
        </div>
    </div><br>
    <div class="contact-us">
        <div class="contain">

            <div class="wrapper">

                <div class="form">
                <h4>GET IN TOUCH</h4>
                <h2 class="form-headline">Send us a message</h2>
                <form id="submit-form" action="">
                    <p>
                    <input id="name" class="form-input" type="text" placeholder="Your Name*">
                    <small class="name-error"></small>
                    </p>
                    <p>
                    <input id="email" class="form-input" type="email" placeholder="Your Email*">
                    <small class="name-error"></small>
                    </p>
                    <p class="full-width">
                    <input id="company-name" class="form-input" type="text" placeholder="Company Name*" required>
                    <small></small>
                    </p>
                    <p class="full-width">
                    <textarea  minlength="20" id="message" cols="30" rows="7" placeholder="Your Message*" required></textarea>
                    <small></small>
                    </p>
                    <p class="full-width">
                    <input type="checkbox" id="checkbox" name="checkbox" checked> Yes, I would like to receive communications by call / email about Company's services.
                    </p>
                    <p class="full-width">
                    <input type="submit" class="submit-btn" value="Submit" onclick="checkValidations()">
                    <button class="reset-btn" onclick="reset()">Reset</button>
                    </p>
                </form>
                </div>

                <div class="contacts contact-wrapper">

                <ul>
                    <li> Ready to know how we can help you?</li>
                    <span class="hightlight-contact-info">
                    <li class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i> cskh@betacorp.vn</li>
                    </span>
                </ul>
                </div>
            </div>
        </div>
    </div><br>
    <div class="image-below">
    </div>
</div>
