    <div class="header">
        <div class="header-mini">
            <ul>
                <li><a href="#">tuyển dụng</a></li>
                <li><a href="#">liên hệ cgv</a></li>
                <li><a href="#">đănng nhập/đăng ký</a></li>
                <li><a href="#" id="VNese">VN</a><a href="#" id="EN">EN</a></li>
            </ul>
        </div>
        <div class="header-main">
            <div class="menu-header">
                    <ul class="parent">
                        <li>
                            <a href="#" class="logo"><img src="assets/cgvlogo.png" alt=""></a>
                        </li>
                        <li id="mini-menu1" class="hover-effect">
                            <ul id="child-menu1" class="child-menu">
                                <li><a href="#" class="hover-red">Phim đang chiếu</a></li>
                                <li><a href="#" class="hover-red">Phim sắp chiếu</a></li>
                            </ul>
                            phim
                        </li>               
                        <li id="mini-menu2" class="hover-effect">
                            <ul class="child-menu"  id="child-menu2">
                                <li><a href="#" class="hover-red">Tất cả các rạp</a></li>
                                <li><a href="#" class="hover-red">Rạp đặc biệt</a></li>
                                <li><a href="#" class="hover-red">Rạp sắp mở </a></li>
                            </ul>rạp cgv
                        </li>
                        <li id="mini-menu3" class="hover-effect">
                            <ul class="child-menu"  id="child-menu3">
                                <li><a href="#" class="hover-red">Tài khoản CGV </a></li>
                                <li><a href="#" class="hover-red">Quyền lợi</a></li>
                            </ul>
                            thành viên
                        </li>
                        <li id="mini-menu4" class="hover-effect">
                            <ul class="child-menu"  id="child-menu4">
                                <li><a href="#" class="hover-red">Quầy online</li>
                                <li><a href="#" class="hover-red">Sự kiện & Vé nhóm</a></li>
                                <li><a href="#" class="hover-red">E-CGV</a></li>
                                <li><a href="#" class="hover-red">CGV Restaurant</a></li>
                                <li><a href="#" class="hover-red">Thẻ quà tặng</a></li>
                            </ul>
                            cultureplex
                        </li>
                    </ul>
                    <div class="search-buy-infor">
                        <div class="quick-choose">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                    <input type="text" placeholder="Tìm kiếm">
                                </div>
                                <a href="#" class="tin-tuc"><img src="assets/tin-moi-uu-dai.gif" alt=""></a>
                        </div>
                        <a href="#" class="mua-ve"><img src="assets/mua-ve_ngay.png" alt=""></a>
                    </div>
            </div>
        </div>
    </div>